<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ChamPicker</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <form th:if="${duo != null}" action="postMatches" th:action="@{/postMatches}"
            method="POST" th:object="${duo}">
        <button type="submit">Refresh data</button>
    </form>

    <form th:if="${champion != null}" action="getChampion" th:action="@{/getChampion}"
          method="GET" th:object="${champion}">
        <label>
            Your ally's champion name:
            <input type="text" th:field="${champion.name}">
        </label>
        <button type="submit">Get Champion!</button>
    </form>

    <div th:if="${name != null}" th:text="${name}">

    </div>
</body>
</html>